<div class="container">
  <div class="jumbotron my-2">
    <h1 class="display-4 text-center">Bien venido a Predicciones</h1>
    <hr class="my-4">
    <p class="lead ">
      En esta aplicación web podrás ver un pequeño ejemplo de lo que se puede lograr haciendo uso de la inteligencia
      artificial en navegadores web.
      <br>
      Para descubrirlo solo tienes que pinchar en <a routerLink="/predicciones-co2" class="badge badge-success">Predicciones
      CO2</a>.
      <br>
      También puedes diseñar tu propio modelo predictivo importando datos, para ello accede a <a routerLink="/crear-prediccion"
                                                                                                 class="badge badge-success">Crea
      tu predicción</a>.
    </p>
  </div>

  <div class="alert alert-danger text-center mb-2 mt-5">Este software contiene errores.</div>
</div>
